node_modules/
음/raw_data.txt
음/makeDB.js
src/components/FinchMain.tsx
src/assets/faces/hand-drawn-kawaii-face-collection.zip
src/assets/faces/26539778_7241696.ai
src/assets/clothes/baby-elements-set-flat-style.zip
src/assets/clothes/baby-elements-collection-flat-style2.zip
src/assets/clothes/baby-elements-collection-flat-style.zip
src/assets/clothes/1782327_246845-P3VWNR-106.ai
src/assets/characters/cheerful-baby-showing-different-postures/License premium.txt
src/assets/characters/cheerful-baby-showing-different-postures/License free.txt
src/assets/characters/cheerful-baby-showing-different-postures/86864-OI2VFG-14.eps
src/assets/characters/cheerful-baby-showing-different-postures/86864-OI2VEF-815.ai
src/assets/characters/cheerful-baby-showing-different-postures/86864-OI2VEA-793.jpg
src/assets/characters/cheerful-baby-showing-different-postures.zip
src/assets/characters/baby_normal.png
src/assets/characters/1000102_86864-OI2VFG-14.eps
src/assets/characters/1000102_86864-OI2VEF-815.ai
src/assets/backgrounds/merry-safe-background-new-normal-celebration.jpg
.env
